@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: #ffff;
  background: rgb(142, 73, 232);
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(122, 122, 189);
}

/*HEADER*/
.first-container header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(152, 195, 252);
}
#logo-name {
  font-size: 35px;
  color: rgb(8, 8, 70);
  margin-left: 20px;
  margin-top: 5px;
}
#logo-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 800px;
  margin-top: 10px;
}
.contacts {
  display: flex;
  margin-top: 12px;
}
.contacts li {
  margin-right: 40px;
  list-style-type: none;
}
.toggle {
  display: flex;
  justify-content: space-between;
}
.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: rgb(238, 255, 0);
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.toggle-icon {
  color: rgb(123, 12, 197);
}

.first-container header.active {
  background-color: rgb(128, 48, 114);
}

.second-container.active {
  background-color: rgb(51, 18, 54);
  color: #721ce3;
}

body.active {
  background-color: #361f53;
}

.contacts.active {
  background-color: aqua;
}
.contacts li.active {
  background-color: black;
}
.toggle.active {
  background-color: black;
}
.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

/*HEADER*/

/*Notes Container*/

.second-container {
  background-color: rgb(90, 90, 207);
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding: 25px;
  border-radius: 22%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.second-container header {
  font-size: 30px;
  font-weight: 600;
}
.second-container .noteInput {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.noteInput input {
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.noteInput input:focus {
  border-color: #8e49e8;
}
.noteInput button {
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #9273bb;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.noteInput button:hover,
.footer button:hover {
  background: #721ce3;
}
.noteInput button.active {
  opacity: 1;
  pointer-events: auto;
}
.second-container .list {
  max-height: 250px;
  overflow-y: auto;
}
.list li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}
.list li .icon {
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.list li:hover .icon {
  right: 0px;
}
.second-container .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #8e49e8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active {
  opacity: 1;
  pointer-events: auto;
}

/*Notes Container*/

/*My apr*/

.apr-wrapper {
  position: relative;
  overflow: hidden;
}

.apr-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.apr-list-item {
  margin-right: 30px;
  position: relative;
}

.apr-list-item:hover .apr-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.apr-list-item:hover .apr-list-item-title,
.apr-list-item:hover .apr-list-item-desc,
.apr-list-item:hover .apr-list-item-button {
  opacity: 1;
}

.apr-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.apr-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.apr-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.apr-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

/*My apr*/

/*Notes set*/

.fourth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170vh;
  margin: 0;
  font-family: "Zen Tokyo Zoo", cursive;
  background: rgb(81, 188, 202);
  font-size: 120%;
}
.fourth-container.active {
  background-color: #333;
}

#notesWrapper {
  padding: 50px;
  margin-bottom: 350px;
}

.new-note-btn {
  width: 200px;
  display: block;
  margin: 0 auto 20px;
  background-color: rgb(155, 253, 152);
  padding: 10px 32px;
  border: 1px solid #e0e0e0;
  font-size: 26px;
  outline: 0;
  transition: all 0.3s;
  cursor: pointer;
  font-family: "Caveat", cursive;
}
.new-note-btn:hover {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.new-note-btn:active {
  position: relative;
  top: 1px;
}

.tc-notes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
}
.tc-note {
  background-color: #06fff3;
  border-radius: 15%;
  width: 350px;
  margin: 0 10px 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  cursor: pointer;
}
.tc-note-header {
  padding: 10px 16px 0;
}
.tc-note-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  transition: all 0.3s;
}
.tc-note-close:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.tc-note-close:focus {
  box-shadow: inset 2px 3px 0px rgba(0, 0, 0, 0.8);
}
.tc-note-close {
  float: right;
}
.tc-note-title,
.tc-note-body {
  outline: 0;
}

.tc-note-title {
  font-size: 24px;
  padding: 10px 16px;
  font-weight: bold;
}

.tc-note-body {
  font-size: 20px;
  padding: 10px 16px 16px;
}
.tc-note-body:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Notes set*/
